__<font color='red'>
Note: Visualizations have been set to False to keep the notebook size small. When running the notebook locally set the visualize variable to True to display the plots.
</font>__

## Setup and loading traces
In this demo we use 8 trace files. To run this demo notebook on your laptop
1. Clone the repo `git clone https://github.com/facebookresearch/HolisticTraceAnalysis.git`
1. [Optional and recommended] Setup a conda environment. See README for details.
1. Set the `trace_dir` parameter in the next cell to the location of `vision_transformer` folder in your local `HolisticTraceAnalysis` installation.

In [ ]:
from hta.trace_analysis import TraceAnalysis

trace_dir = "~/HolisticTraceAnalysis/tests/data/vision_transformer/"
analyzer = TraceAnalysis(trace_dir=trace_dir)

# Temporal Breakdown

### Description
This feature gives a breakdown of time spent by the GPU as follows:
1. Idle time - GPU idle
1. Compute time	- GPU busy with computation events
1. Non compute time - GPU busy with communication or memory events

### API

In [2]:
analyzer.get_temporal_breakdown?

### Example

In [3]:
time_spent_df = analyzer.get_temporal_breakdown(visualize=False)

In [4]:
time_spent_df

,rank,idle_time(ns),compute_time(ns),non_compute_time(ns),kernel_time(ns),idle_time_pctg,compute_time_pctg,non_compute_time_pctg
0,0,552069,596651,884850,2033570,27.15,29.34,43.51
1,1,431771,596759,1004227,2032757,21.24,29.36,49.40
2,2,312107,596886,1124788,2033781,15.35,29.35,55.31
3,3,274646,604137,1154491,2033274,13.51,29.71,56.78
4,4,418833,598040,1021824,2038697,20.54,29.33,50.12
5,5,318972,601581,1112561,2033114,15.69,29.59,54.72
6,6,388040,598029,1047787,2033856,19.08,29.40,51.52
7,7,454830,599358,979022,2033210,22.37,29.48,48.15

# Kernel Breakdown

### Description

This feature computes the following:
1. Breakdown of time spent among kernel types (Computation, Communication, Memory) across all ranks.
1. Kernels taking the most time on each rank by kernel type.
1. Distribution of average time across ranks for the kernels taking the most time.

### API

In [5]:
analyzer.get_gpu_kernel_breakdown?

Note:
1. If visualize is True, then
    1. Venn diagram of percentage time spent by kernel type.
    1. Pie charts of the most time consuming kernels for each kernel type, for each rank.
    1. Bar graphs for the most time consuming kernels for each kernel type for each rank. The error
        bars indicate the min and max.

1. The number of kernels to display can be tuned using the num_kernels parameter. Additionally, duration_ratio
can be used to tune the percentage of time that needs to be analyzed. If both num_kernels and duration_ratio
are specified, then num_kernels takes precedence. 

1. If include_memory_kernels is set to False then the calculation is done using Communication and Computation
kernels only. Mathematically, the intersection calculates the following ratio:
(time spent computing while communicating)/ Union(time spent communicating, time spent computing)

### Example

In [4]:
kernel_type_metrics_df, kernel_metrics_df = analyzer.get_gpu_kernel_breakdown(visualize = False, 
                                                                              duration_ratio = 0.8,
                                                                              num_kernels = 5,
                                                                              include_memory_kernels = True)

### Percentage of time spent by kernel type

In [5]:
kernel_type_metrics_df

                             kernel_type      sum  percentage
0                          COMMUNICATION  8040285        61.3
1                            COMPUTATION  2671248        20.4
2  COMPUTATION overlapping COMMUNICATION  2119629        16.2
3                                 MEMORY   273227         2.1
4       COMMUNICATION overlapping MEMORY    16038         0.1
5         COMPUTATION overlapping MEMORY      564         0.0

### Statistics for each kernel

In [6]:
kernel_metrics_df

,name,sum (ns),max (ns),min (ns),stddev,mean (ns),kernel_type,rank
0,ncclKernel_AllGather_RING_LL_Sum_int8_t(ncclWo...,627683,10787,83,1651.592760,1687.319892,COMMUNICATION,0
1,ncclKernel_AllGather_RING_LL_Sum_int8_t(ncclWo...,644435,10884,82,1705.334758,1732.352151,COMMUNICATION,1
2,ncclKernel_AllGather_RING_LL_Sum_int8_t(ncclWo...,640631,10665,79,1700.774025,1722.126344,COMMUNICATION,2
3,ncclKernel_AllGather_RING_LL_Sum_int8_t(ncclWo...,643073,10834,81,1727.301230,1728.690860,COMMUNICATION,3
4,ncclKernel_AllGather_RING_LL_Sum_int8_t(ncclWo...,630605,10785,80,1656.166440,1695.174731,COMMUNICATION,4
...,...,...,...,...,...,...,...,...
107,Memset (Device),1134,13,1,0.807700,1.403465,MEMORY,3
108,Memset (Device),1084,8,1,0.739841,1.341584,MEMORY,4
109,Memset (Device),1073,14,1,0.818079,1.327970,MEMORY,5
110,Memset (Device),1038,7,1,0.693866,1.284653,MEMORY,6
111,Memset (Device),1064,13,1,0.779930,1.316832,MEMORY,7

# Communication Computation Overlap

### Description
This feature computes the ratio of time spent communicating while computing and time spent communicating. Mathematically, it can be expressed as follows:

_time spent computing while communicating / time spent in communication_

### API

In [9]:
analyzer.get_comm_comp_overlap?

### Example

In [7]:
overlap_df = analyzer.get_comm_comp_overlap(visualize=False)

In [11]:
overlap_df

   rank  comp_comm_overlap_pctg
0     0                   22.01
1     1                   21.28
2     2                   20.08
3     3                   19.92
4     4                   20.67
5     5                   20.45
6     6                   20.89
7     7                   21.72

# Idle Time Breakdown

### Description
Understanding how much time a GPU is left idle and what are the causes can help direct optimization strategies. A GPU is considered idle when no kernel is running on it. Idle time is broken down into 3 categories

1. Host wait time: a GPU stream is idle because the CPU thread has not enqueued enough kernels to keep it occupied.
1. Kernel wait time: this is the short duration between kernels and is considered an overhead of launching multiple small kernels. We use a heuristic - if the kernel to kernel gap < a set threshold of 30ms - to determine if the gaps should be categorized as kernel-kernel wait.
1. Other wait time: in this case the idle time is attributed to an unknown cause. For example a compute kernel could be waiting for a CUDA event from a compute kernel.

### API

In [8]:
analyzer.get_idle_time_breakdown?

### Example

#### Calculate the idle time breakdown for all cuda streams on rank 0.

Note:
1. The `visualize_pctg (default=True)` option shows as bar chart per CUDA stream normalized to total idle time on the stream. You may choose to set this to False and see the absolute idle time breakdown on each stream.
1. The `show_idle_interval_stats (default=False)` option will compute stats of idle intervals between kernels. This should help get an idea of the distribution of idle intervals.

In [9]:
idle_time_df, interval_stats_df = analyzer.get_idle_time_breakdown(ranks=[1], visualize=False,\
                                                                   visualize_pctg = 1,
                                                                   show_idle_interval_stats=True)

2022-12-13 15:16:18,719 - hta - breakdown_analysis.py:L440 - INFO - Processing stream 7
2022-12-13 15:16:18,723 - hta - breakdown_analysis.py:L472 - INFO - Computing descriptive statistics for idle time intervals on stream 7:
2022-12-13 15:16:18,737 - hta - breakdown_analysis.py:L440 - INFO - Processing stream 20
2022-12-13 15:16:18,740 - hta - breakdown_analysis.py:L472 - INFO - Computing descriptive statistics for idle time intervals on stream 20:
2022-12-13 15:16:18,744 - hta - breakdown_analysis.py:L440 - INFO - Processing stream 26
2022-12-13 15:16:18,746 - hta - breakdown_analysis.py:L472 - INFO - Computing descriptive statistics for idle time intervals on stream 26:
2022-12-13 15:16:18,751 - hta - breakdown_analysis.py:L440 - INFO - Processing stream 24
2022-12-13 15:16:18,753 - hta - breakdown_analysis.py:L472 - INFO - Computing descriptive statistics for idle time intervals on stream 24:
2022-12-13 15:16:18,759 - hta - breakdown_analysis.py:L440 - INFO - Processing stream 28
2022-12-13 15:16:18,761 - hta - breakdown_analysis.py:L472 - INFO - Computing descriptive statistics for idle time intervals on stream 28:
2022-12-13 15:16:18,765 - hta - breakdown_analysis.py:L440 - INFO - Processing stream 30
2022-12-13 15:16:18,766 - hta - breakdown_analysis.py:L472 - INFO - Computing descriptive statistics for idle time intervals on stream 30:

In [10]:
idle_time_df

    rank  stream idle_category  idle_time  idle_time_ratio
0      1       7     host_wait   942050.0             0.67
1      1       7   kernel_wait    36343.0             0.03
2      1       7         other   437053.0             0.31
3      1      20     host_wait  1694637.0             1.00
4      1      20   kernel_wait       10.0             0.00
5      1      20         other        0.0             0.00
6      1      26     host_wait  1057761.0             1.00
7      1      26   kernel_wait     2565.0             0.00
8      1      26         other     1794.0             0.00
9      1      24     host_wait  1254106.0             0.70
10     1      24   kernel_wait     4264.0             0.00
11     1      24         other   540321.0             0.30
12     1      28     host_wait  1211372.0             1.00
13     1      28         other     1164.0             0.00
14     1      30     host_wait  1461587.0             1.00
15     1      30         other        0.0             0.00

In [11]:
interval_stats_df

,rank,stream,count,mean,std,min,25%,50%,75%,max
idle_category,,,,,,,,,,
host_wait,1,7,2282.0,412.82,3252.98,8.0,37.25,79.0,166.00,111497.0
kernel_wait,1,7,6115.0,5.94,3.76,0.0,3.00,5.0,8.00,28.0
other,1,7,184.0,2375.29,2232.22,31.0,1166.75,1798.0,2912.50,14434.0
host_wait,1,20,33.0,51352.64,102824.64,174.0,195.00,2427.0,53074.00,364768.0
kernel_wait,1,20,2.0,5.00,2.83,3.0,4.00,5.0,6.00,7.0
other,1,20,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
host_wait,1,26,4.0,264440.25,176247.33,461.0,254460.50,347967.5,357947.25,361365.0
kernel_wait,1,26,337.0,7.61,7.43,1.0,3.00,4.0,8.00,28.0
other,1,26,30.0,59.80,20.08,30.0,58.00,59.0,59.00,141.0
host_wait,1,24,457.0,2744.21,16630.78,27.0,94.00,661.0,943.00,201050.0
kernel_wait,1,24,840.0,5.08,4.91,0.0,2.00,5.0,6.00,29.0
other,1,24,210.0,2572.96,12182.03,30.0,50.00,52.0,1747.50,110432.0
host_wait,1,28,7.0,173053.14,104185.27,44928.0,99179.00,125871.0,274787.50,292640.0
other,1,28,8.0,145.50,6.72,140.0,140.75,143.0,148.00,159.0
host_wait,1,30,3.0,487195.67,13811.74,476438.0,479408.00,482378.0,492574.50,502771.0
other,1,30,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Augmented Counters

### Description
This feature adds counter/time series to the trace to visually debug time series.
One can select one or more of counters:
1. Queue Length: is defined as the number of outstanding CUDA operations on a stream.
    The queue depth is incremented on a kernel launch and decremented when a kernel executes.
1. Memory copy bandwidth: shows time series of memory bandwidth between a) host-device, b) device-host, c) device-device.

We can also get statistics for either one of queue length and memory copy bandwidth or both time series.

### API 1

In [16]:
analyzer.generate_trace_with_counters?

### Example 1

#### Generate a time series showing how Queues behave per CUDA stream on rank 0.

Note:
1. This call generates new trace file `rank-0_augmented.json.gz` at the trace_directory. One can open the trace file in Chrome Trace viewer or Perfetto.
1. Due to the way traces are trimmed during processing, the time series are not covering the last profiler step or iteration.

By default queue_length and memcpy bandwidth will be added. One can select the counters using the time_series argument that is a Flag field.
```
from hta.trace_analysis import TimeSeriesTypes
analyzer.generate_trace_with_counters(time_series = TimeSeriesTypes.QUEUE_LENTH)
```

In [ ]:
analyzer.generate_trace_with_counters()

### Example 2

#### Understanding statistics for queue_length on a CUDA stream for rank 0.

Statistics about the queue length can also be helpful to understand how well a CUDA stream is utilized.
The `get_queue_length_summary()` method returns a dataframe with statistics such as the mean, std, min, and 25, 50 and 75 percentiles per CUDA stream and rank.

### API 2

In [18]:
analyzer.get_queue_length_summary?

In [19]:
analyzer.get_queue_length_summary(ranks = [0, 1])

2022-12-11 23:22:14,759 - hta - trace_counters.py:L94 - INFO - Please note that the time series only contains points when the value changes. Once a values is observed the time series stays constant until the next update.

            queue_length
                   count       mean         std  min   25%   50%    75%    max
rank stream
0    7           17160.0  61.043473   92.334500  0.0   1.0   9.0   87.0  403.0
     20             72.0   0.555556    0.553831  0.0   0.0   1.0    1.0    2.0
     24           3016.0  19.683024   28.450842  0.0   1.0   2.0   32.0  108.0
     26            744.0   9.768817    6.932887  0.0   4.0  10.0   14.0   31.0
     28             32.0   0.687500    0.644455  0.0   0.0   1.0    1.0    2.0
     30              8.0   0.500000    0.534522  0.0   0.0   0.5    1.0    1.0
1    7           17164.0  92.304008  115.411311  0.0   1.0  49.0  134.0  407.0
     20             72.0   0.555556    0.553831  0.0   0.0   1.0    1.0    2.0
     24           3016.0  27.533820   30.211090  0.0   1.0  18.0   43.0  111.0
     26            744.0  15.548387    7.534243  0.0  10.0  17.0   20.0   34.0
     28             32.0   0.750000    0.672022  0.0   0.0   1.0    1.0    2.0
     30              8.0   0.500000    0.534522  0.0   0.0   0.5    1.0    1.0

### Raw Time Series
One can also investigate the time series directly using the function `get_queue_length_time_series()`.
This will return the actual time series of queue length for each rank.

In [20]:
analyzer.get_queue_length_time_series?

In [21]:
queue_length_ts = analyzer.get_queue_length_time_series()

2022-12-11 23:22:14,909 - hta - trace_counters.py:L94 - INFO - Please note that the time series only contains points when the value changes. Once a values is observed the time series stays constant until the next update.

# CUDA Kernel Launch Statistics

### Description
For each event launched on the GPU there is a corresponding scheduling event on the CPU. These events are linked by a common correlation id. This feature computes the duration of the CPU operator, its corresponding GPU kernel and the launch delay i.e. the difference between GPU kernel starting and CPU operator ending.

The plots generated provide distribution of GPU kernels which have very small/large duration and events which have excessive launch delay. The runtime_cutoff and launch_delay_cutoff arguments in API allow the user to tune the definition of an outlier.

### API

In [22]:
analyzer.get_cuda_kernel_launch_stats?

### Example

#### Calculate the duration of each GPU kernel, its corresponding CUDA Launch Kernel event and the launch delay.

In [13]:
kernel_stats = analyzer.get_cuda_kernel_launch_stats(visualize=False)

In [14]:
kernel_stats[0]

       correlation  cpu_duration  gpu_duration  launch_delay
0           278204            15            37            31
1           278209            12            40            26
2           278239            12            31            25
3           278244            11            53            24
4           278249            11             3            25
...            ...           ...           ...           ...
10511       335216            13           103         24418
10512       335221            10            50         24471
10513       335229            12            55         24451
10514       335252            16          3045         21331
10515       335300            17           476         24022

[10516 rows x 4 columns]

# Most Frequent CUDA Kernel Sequences

### Description

This feature finds the sequence of most frequent CUDA kernels launched for any specified operator. It generates a new trace file which overlays the top-k identified patterns on the original trace file. Searching for the keyword __"Patterns"__ in the new trace file highlights the relevant CPU and GPU ops. The highlighted events indicate where to look for opportunities to fuse CUDA kernels or CPU ops.

### API

In [25]:
analyzer.get_frequent_cuda_kernel_sequences?

### Example

#### Calculate the top 5 most frequent sequences of CUDA kernels of length 3 launched for the `aten::linear` operator on rank 0.

Note:
1. Before executing this function, change the `output_dir` value to an existing folder on your local machine.
1. Load the generated trace file in Chrome Tracing and search for the keyword â€œPatternâ€. The lower panel will enumerate the kernel names and their frequency. The kernel names are separated by the pipe symbol â€œ|â€. 
1. The log messages will contain the output path of the generated trace file.

In [ ]:
frequent_cuda_kernels = analyzer.get_frequent_cuda_kernel_sequences(
                            operator_name="aten::linear", 
                            output_dir="/tmp/",
                            min_pattern_len = 3,
                            rank = 0,
                            top_k = 5,
                            visualize=False)

In [16]:
frequent_cuda_kernels

,pattern,count,GPU kernel duration (ns),CPU op duration (ns)
0,aten::linear|void at::native::unrolled_element...,96,26319,25268
1,aten::linear|void at::native::unrolled_element...,68,34546,17078
2,aten::linear|Memset (Device)|volta_fp16_s884ge...,48,11300,9652
3,aten::linear|void at::native::unrolled_element...,4,537,1084